/* font styles */
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,704&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.banner {
    background-color: #FCEDF1;
    max-width: 1720px;
    width: 100%;
    height: 580px;
    font-family: "Inter", sans-serif;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;

}

.banner-text {
    width: 50%;
    margin-left: 90px;
}

.banner-text h1 {
    font-size: 60px;
}

.banner-text p {
    padding: 30px 0;
    font-size: small;
    color: #968E90;
}

.banner-image {
    width: 50%;
}

.banner-image img {
    position: absolute;
    height: 510px;
    bottom: 0;
}

button {
    background-color: #E55473;
    padding: 10px 18px;
    color: white;
    border: none;
    border-radius: 4px;

}












.featured-section {
    margin-top: 130px;

}

.featured-text {
    text-align: center;
    margin-top: 10px;
    width: 40%;
    margin: 0 auto;
}

.featured-flower {
    width: 88%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-top: 40px;
}

.featured-flower1 {
    width: 330px;
    height: 400px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background-color: #F2DEE8;
    position: relative;
    display: flex;
    justify-content: center;
}

.featured-flower1 img {
    width: 80%;
    height: 80%;
    bottom: 0;
    position: absolute;
}




.featured-flower2 {
    width: 330px;
    height: 400px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background-color: #DAF0F1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.featured-flower2 img {
    width: 70%;
    height: 70%;
}






.featured-flower3 {
    width: 330px;
    height: 400px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background-color: #E4ECDC;
    position: relative;
    display: flex;
    justify-content: center;
}

.featured-flower3 img {
    width: 80%;
    height: 80%;
    bottom: 0;
    position: absolute;
}








.hot-deal {
    border: 1px solid red;
    margin-top: 130px;
    max-width: 100%;
    width: 100%;
    background-color: #FDF6F8;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}


.hot-deal-text {
    width: 35%;
    text-align: center;
}


.hot-deal img {
    width: 80%;
    height: 80%;
}